* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
}

#container-page {
    padding-top: 2%;
    background-image: url("../img/tables.jpg");
    background-position: center;
    background-repeat: no-repeat;
    /* L'image s'adapte pour couvrir son container */
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 100vh;
    color: white;
}

h1,
h3 {
    color: white;
    text-shadow: 1px 1px black;
}

/********** CONTAINER PRINCIPAL POUR TOUTES LES RESERVATIONS***********/

#container-reservation {
    margin: 0 auto;
    width: 50%;
    padding: 20px 0;
    position: relative;
}

/************CONTAINER  POUR CHAQUE RESERVATION ****************/

.reservation {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 5%;
    margin-top: 5%;
    border-radius: 50px;
}

/************** DIV DONNEES*******************/

.donnees {
    display: flex;
    gap: 2px;
}

.donnee {
    background-color: rgb(231, 4, 57, 0.8);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donnee:hover {
    background-color: rgb(196, 2, 47);
}

.jour,
.heure {
    width: 150px;
    height: 50px;
}

.personnes,
.creneau {
    width: 110px;
    height: 30px;
}

.jour {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.heure {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



/************** DIV MENU-JOUR ****************/

.menu-jour {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.elements-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sup-reservation {
    position: absolute;
    bottom: 20px;
    width: 30%;
    height: 30px;
    background-color: rgb(231, 4, 57);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}