@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

:root {
    --bleu: #091729;
    --rose: #e40034;
    --blanc: white;
    --noir: black;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
}

h2 {
    font-family: 'Dancing script';
    font-size: 6rem;
    font-weight: 600;
}


/* Temporaire / Partie réservation */
.hidden {
    display: none;
}


/*********** DARK MODE ************/



.dark-mode {
    margin-right: 1.5%;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

#label-darkmode {
    width: 50px;
    height: 26px;
    background-color: rgb(243, 238, 238);
    display: flex;
    border-radius: 50px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+#label-darkmode .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: var(--bleu);
}

.fa-sun {
    color: yellow;
}

.ball:hover {
    cursor: pointer;
}

/*Pour que le dark mode s'enclenche sur des éléments, il faut donner la class "dark" suivie de l'élement que l'on souhaite modifier lorsque le thème passe à sombre*/

body.dark {
    background-color: var(--noir);
}

.dark h1 {
    color: var(--blanc);
}

.dark header {
    background-color: black;
}

.dark header a,
.dark header span,
.dark #formulaire {
    color: var(--blanc);
}

.dark #img-logo{
    filter: brightness(500%);
}

/*Pour changer la couleur de la flèche dynamique*/
.dark #fleche:before,
.dark #fleche:after {
    background: var(--blanc);
}


/************* HEADER ********/



.flex {
    display: flex;
}

header li a {
    list-style-type: none;
    color: black;
}

/*Il s'agit des barres qui séparent les éléments du menu de navigation */
.barre {
    font-size: 20px;
}

header {
    background-color: rgb(255, 255, 255, 0.8);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    /*Pour que le menu soit toujours au-dessus des autres éléments*/
    z-index: 1;
    min-height: 6vh;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    font-weight: 500;
}


#menu-navigation {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}


#img-logo {
    padding-left: 5%;
    height: 50px;
}

#items-menu {
    margin: 0 auto;
    padding-left: 2px;
    gap: 10px;
}

.item-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/**** Main page ****/

.bg-accueil {
    position: relative;
    background-image: url("../img/restaurant-accueil.png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-accueil h1 {
    text-align: center;
}


h1 {
    font-family: 'Dancing Script';
    font-size: 90px;
    font-weight: 800;
    color: #050d18;
}

/*Menu burger*/


/* De base, le menu burger est désactivé, car il doit s'afficher à partir de la partie mobile*/
.burger {
    display: none;
}




/*********** FLECHE ************/

.arrow_container {
    width: 24px;
    height: 24px;
    margin: 0px auto;
}

#fleche {
    width: 50px;
    height: 15px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: moveToBottom 3s ease-out infinite;
    position: absolute;
    bottom: 15%;
    left: 50%;
    color: var(--bleu);
}


#fleche:before,
#fleche:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: var(--bleu);
}

#fleche:before {
    left: 0;
    transform: skew(0deg, 30deg);

}

#fleche:after {
    right: 0;
    transform: skew(0deg, -30deg);
}

@keyframes moveToBottom {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}



/******* GALERIE ********/

#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bleu);
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10h10v10H0V10zM10 0h10v10H10V0z' fill='%239C92AC' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
    min-height: 100vh;
}

.gallery-container {
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}

.column img {
    display: block;
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin: 7% 0%;
    width: 100%;
    transition: transform .60s;
}

.column img {
    height: 250px;
    min-width: auto;
}

.column img:hover {
    transform: scale(1.12);

}

.dessert {
    height: 100%;
}


@media screen and (max-width: 800px) {

    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}




/**** MENU PLATS RESTAURANT ****/
/* MENU ACORDEON */
#menu {
    background: #091729;
}

#title-menu {
    background: var(--bleu);
    color: #e40034;
    text-align: center;
}


.ul-acordeon {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    text-align: center;
    /*Afin de centrer également le bouton télécharger le menu*/
    align-items: center;
    justify-content: center;
}

li .button {
    position: relative;
    display: block;
    padding: 20px;
    background-color: #e40034;
    color: #000;
    text-decoration: none;
    width: 700px;
    color: white;
}

.ul-acordeon li .button::after{
    content: '+';
    position: absolute;
    top: 25%;
    right: 20px;
    font-size: 1.5em;
    color: white;
} 

.ul-acordeon li.on .button::after{
    content: '-';
    position: absolute;
    top: 25%;
    right: 20px;
    font-size: 1.5em;
    color: white;
}

li .content {
    display: none;
    width: 700px;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}


.menu {
    width: 100%;
    background-color: white;
}

li.on .content {
    display: block;
}


#menu,
.accordeon {
    padding-top: 3%;
}

.menu p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 15px;
}


#flex-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/**** TELECHARGEMENT MENU ****/

#download-pdf {
    margin: 5% 0;
}


#download-pdf a:link,
#download-pdf a:visited {
    background-color: white;
    color: #e40034;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* "a:active" doaprès "a:hover" */
#download-pdf a:hover,
#download-pdf a:active {
    background-color: #e40034;
    color: white;
}


/************ VIDEO YOUTUBE*************/
.video {
    margin: 100px 0;
}





/******************** SECTION EVENEMENTS *********************/

#evenements {
    background: url('../img/section_events_fond2.jpg') no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
}

#evenements h2 {
    margin-top: 5vh;
    text-align: center;
}

.titre {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
}

#container-encarts {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    padding: 2% 0;
}

.encart {
    position: relative;
    background-color: var(--bleu);
    width: 320px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    border-radius: 20px;
    border-top-right-radius: 100px;
    transition: 2s;
}

.encart-header {
    width: 300px;
    overflow: hidden;
    position: absolute;
    top: 12px;
}

.encart-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 10px;
    top: 220px;
    gap: 15px;
    max-height: 220px;
}

.encart-header img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border-top-right-radius: 100px;
    object-fit: cover;
}

.descriptif {
    text-align: justify;
    font-weight: 200;
}


/************* SURVOL EVENEMENTS **************/

.encart:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*Pour éviter que les images changent de taille*/
.encart-header img:hover {
    transform: scale(1);
}





/****** FORMULAIRE DE CONTACT *******/

#formulaire {
    background-image: url('../img/elephant.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.formulaire-container {
    display: flex;
    justify-content: space-around;
    margin: 0% 10%;
}

.google-iframe,
.contact-container {
    margin: 5% 0%;
}

.google-iframe {
    width: 40%;
}


.contact-container {
    width: 50%;
}

.contact-container label{
    color: var(--rose);
    text-shadow: 1px 1px 2px white;
}

input[type=text],
input[type=number],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

label {
    font-weight: 700;
}

input[type=submit] {
    background-color: var(--bleu);
    color: white;
    padding: 15px 20px;
    min-width: 12%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}

input[type=submit]:hover {
    background-color: rgba(3, 12, 20, 0.94);
}

textarea {
    height: 110px
}

#btn-container{
    display: flex;
    gap: 10px;
}

.btn-reservation{
    height: 46px;
    width: 120px;
    background-color: var(--bleu);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn-reservation a {
    color: white;
    font-size: small;
}

.fa-solid {
    color: white;
}






/*** FOOTER ****/
footer {
    height: 100%;
    /*Var ici car on a déclaré dans root (tout en haut) que la var bleu = la couleur bleu qu'on voulait*/
    background-color: var(--bleu);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

#horaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#reseaux-sociaux {
    display: flex;
    gap: 20px;
}

li {
    font-size: 20px;
    list-style-type: none;
}

footer li a i {
    color: var(--rose);
    transition: 0.65s;
}

/*SURVOL*/

footer li a i:hover {
    transform: scale(1.4);
}


/*********** SCROLL TO TOP ************/

#myScroll {
    position: fixed;
    /* position fixée et collée */
    bottom: 20px;
    /* Bouton placé en bas de page */
    right: 30px;
    /* Bouton placé à 30px de la droite*/
    z-index: 99;
    /* Placé de façon à ce qu'il ne se chevauche pas*/
    border: none;
    /* Enlever les bordures */
    outline: none;
    /* Supprimer les contours */
    background-color: #e40034;
    /* Couleur du background */
    color: white;
    /* Couleur du texte */
    cursor: pointer;
    /* Ajout d'un pointer (souris) au survol(hover) */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 18px;
    /* Taille police*/
}

#myScroll a {
    text-decoration: none;
    color: white;
}

/* ajout d'un background noir au survol */
#myScroll:hover {
    background-color: black;
    border: 1px solid white;
}









/***************** RESPONSIVE*******************/






/* Responsive menu de navigation, evenements, galerie + formulaire de contact */

/*Tablette*/

@media screen and (min-width: 601px) and (max-width: 1024px) {

    header {
        position: relative;
    }

    #menu-navigation {
        gap: 20px;
    }

    #items-menu .barre {
        display: none;
    }

    #items-menu {
        flex-direction: column;
        text-align: center;
    }

    #menu-navigation {
        flex-direction: column;
        padding-bottom: 20px;
    }


    #container-encarts {
        flex-wrap: wrap;
        width: 75%;
        gap: 50px;
    }

    #fleche {
        bottom: -9%;
    }

    li .button{
        width: 550px;
    }

    li .content {
        width: 550px;
    } 

    #flex-menu {
        flex-direction: column;
        align-items: center;

    }

    #evenements {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 50px;
    }

    .google-iframe {
        width: 100%;
        margin-bottom: 15%;
    }

    .google-iframe iframe {
        height: 150%;
    }

    .contact-container {
        width: 90%;
    }

    .formulaire-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    #container-encarts {
        flex-wrap: wrap;
        width: 75%;
        gap: 50px;
    }


    #evenements {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 50px;
    }

}






@media screen and (max-width: 600px) {

    header {
        position: relative;
    }

    #menu-navigation {
        gap: 20px;
        padding-bottom: 20px;
    }

    #logo-site {
        /*Mis pour un effet + centré car les rubans du logo n'ont pas les memes tailles*/
        margin-left: 6%;
    }


    #items-menu .barre {
        display: none;
    }

    #items-menu {
        flex-direction: column;
        text-align: center;
        position: absolute;
        /*Déplacé vers la droite pour ne plus que ca se voit*/
        transform: translateY(-250px);
        background-color: white;
    }

    #menu-navigation {
        flex-direction: column;
    }

    /*Burger menu*/

    .burger {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .bar-burger {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: black;
        transition: all .5s ease-in-out;
    }

    .bar-burger::before,
    .bar-burger::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: black;
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }


    /*Ici on indique à combien de pixels se trouvent les barres du dessous et du dessus*/
    .bar-burger::before {
        transform: translateY(-12px)
    }

    .bar-burger::after {
        transform: translateY(12px)
    }

    /*Cette class show-nav a été ajoutée à partir du code JS, elle permet de réafficher les éléments (placés auparavant dans la partie non visible de l'écran en haut*/
    .show-nav #items-menu {
        margin-top: 15%;
        /*Il faut à nouveau ajouter la couleur de fond car sinon les éléments sortent du flux (=ils sortent du menu)*/
        background-color: white;
        /*La taille que prennent  les éléments par rapport à la largeur du viewport*/
        width: 100vw;
        height: 70vh;
        /*On remet les éléments à leur place d'origine*/
        transform: translateX(0);
        transition: 2s;
    }

    .show-nav .burger {
        transform: translateY(180px);
        transition: 2s;
    }

    /*Pour que les éléments du dark mode ailent plus bas que le menu quand il se met en place*/
    .show-nav .dark-mode{
        transform: translateY(190px);
        transition: 2s;
    }

    /*Il faut mettre cette propriété pour ne pas que la barre du milieu de l'icone du menu s'affiche*/
    .show-nav .bar-burger {
        width: 0;
    }

    /*Ici, pour le before et after, on dit comment les barres du haut et du bas de l'icone du menu burger vont se comporter lorsque la class show-nav est activée (=quand on a cliqué pour ouvrir le menu)*/
    .show-nav .bar-burger::before {
        transform: rotate(45deg);
    }

    .show-nav .bar-burger::after {
        transform: rotate(-45deg);
    }



    /* Fin burger */

    #container-encarts {
        flex-wrap: wrap;
        width: 75%;
        gap: 50px;
    }

    li .button{
        width: 300px;
    }

    li .content {
        width: 300px;
    } 

    #evenements {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 50px;
    }

    .google-iframe {
        width: 100%;
        margin-bottom: 20%;
    }

    .formulaire-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        ;
    }

    .contact-container {
        width: 80%;
    }

    .video iframe{
        width: 350px;
    }

    #myScroll {
        right: 5px;
    }

}